<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="bootstrap.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="feed.css">
  <title>Feed</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar bg-body-tertiary navbar--config">
    <div class="container-fluid">
      <a class="navbar-brand ms-4"> Local Trader </a>
      <form class="d-flex flex-row align-content-center justify-content-center" role="search">
        <% if(userData){ %>
          <button type="button" class="btn btn-primary btn--position" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Agregar producto
          </button>
        <% } %>
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-danger" type="submit"><a href="/signup">Registro</a></button> -->
        <% if(userData){ %>
          <!-- <button class="btn btn-outline-success ms-2"><a href="/profile">Perfil</a></button> -->
          <button class="btn btn-outline-success ms-2"><a href="/<%=userData.n_control%>">Perfil</a></button>
          <button class="btn btn-outline-success ms-2"><a href="/logout">Log out</a></button>
        <% }else { %>
          <button class="btn btn-outline-danger ms-2"><a href="/signup">Registro</a></button>
          <button class="btn btn-outline-success ms-2"><a href="/login">Log in</a></button>
        <% } %>

      </form>
    </div>
  </nav>
  <!-- Renderizado de datos -->
  <div class="container-sm position-relative z-0 my-4 d-flex flex-column align-content-center">
    <% data.reverse().forEach( elem=> { %>
      <div class="card align-self-center my-2" style="width: 90%; max-width: 30rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body position-relative d-flex flex-column card-body--config">
          <h5 class="card-title"><%= elem.titulo %></h5>
          <p class="card-text"> <%= elem.descripcion  %></p>
          <p class="card-text align-self-end m-0">$ <%= elem.precio %></p>
          <% if(userData){ %>
            <% if(userData.n_control === elem.n_control_cliente){ %>
              <a  href="/delete/<%= elem.id_venta %>" class="btn btn-danger position-absolute btn_delete_post--pos">Eliminar</a>
            <% } %>
          <% } %>
          <a  href="/<%= elem.n_control_cliente %>/<%= elem.id_venta %>"><button id="showPostDetails" class="btn btn-primary align-self-end position-absolute btn_details--pos">
            Detalles
          </button></a>
        </div>
      </div>
    <% }) %>
  </div>
  <!-- Modal para agregar publicación -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content position-relative">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva publicación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" method="post">
            <div class="mb-3 form-floating">
              <input type="text" class="form-control" name="titulo" id="titulo" placeholder="#" required>
              <label for="titulo" class="form-label">Titulo del producto</label>
            </div>
            <div class="mb-3 form-floating">
              <input type="text" class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="#">
              <label for="descripcion" class="form-label">Descripción</label>
            </div>
            <!-- <div class="mb-3 form-floating">
              <input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="#">
              <label for="precio" class="form-label">Cantidad</label>
            </div> -->
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" name="precio" aria-label="Amount (to the nearest dollar)">
            </div>
        </div>
        <button type="submit" class="btn btn-primary position-absolute submit_btn--pos">Agregar</button>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para mostrar detalles de las publicaciones -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> -->

  <script src="feed.scripts.js"></script>
  <script src="bootstrap.bundle.js"></script>
</body>

</html>