<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="bootstrap.css">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="profile.css">
  <% if(userData){ %>
    <title>Local Trader | <%= userData.username %>
    </title>
    <% } %>
</head>

<body>
  <nav class="navbar bg-body-tertiary navbar--config">
    <div class="container-fluid">
      <% if(userData){ %>
        <a class="navbar-brand ms-4">
          Local Trader
        </a>
      <% } %>
        <form class="d-flex flex-row align-content-center justify-content-center" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-danger" type="submit"><a href="/signup">Registro</a></button> -->
          <button class="btn btn-outline-success ms-2"><a href="/">Inicio</a></button>
          <% if(userData && state){ %>
            <button class="btn btn-outline-danger ms-2"><a href="/logout">Log out</a></button>
          <% } %>
        </form>
    </div>
  </nav>

  <div class="container-sm">
    <% if(userData && postData){ %>
      <h3 class="my-3"><a href="/<%= userData.n_control%>"><%= userData.username %></a>/<%= postData.titulo %></h3>
    <% } %>
    <div class="card" style="width: 80%;">
      <div class="card-body">
        <p class="card-text"><%= postData.descripcion %></p>
        <p><%= postData.precio %></p>
      </div>
    </div>
  </div>
  
  <div class="container-md bg-success">

  </div>
  
  </div>
  <script src="bootstrap.bundle.js"></script>
  <!-- <script src="profile.scripts.js"></script> -->
</body>

</html>