<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="bootstrap.css">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="profile.css">
  <% if(userData){ %>
    <title>Local Trader | <%= userData[0][0].username %>
    </title>
    <% } %>
</head>

<body>
  <nav class="navbar bg-body-tertiary navbar--config">
    <div class="container-fluid">
      <% if(userData){ %>
        <a class="navbar-brand ms-4">
          <%= userData[0][0].username %>
        </a>
      <% } %>
        <form class="d-flex flex-row align-content-center justify-content-center" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-danger" type="submit"><a href="/signup">Registro</a></button> -->
          <button class="btn btn-outline-success ms-2"><a href="/">Inicio</a></button>
          <% if(userData && state){ %>
            <button class="btn btn-outline-danger ms-2"><a href="/logout">Log out</a></button>
          <% } %>
        </form>
    </div>
  </nav>
  <div class="container-md mt-3">
    <div class="card text-center">
      <div class="card-header">
        <% if(userData){ %>
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="/<%=userData[0][0].n_control%>" id="nav_1">Informacion personal</a>
            </li>
            <li class="nav-item">
              <% if(userData){ %>
                <a class="nav-link" href="/<%=userData[0][0].n_control%>/posts" id="nav_2">Productos</a>
              <% }else{ %>
                <a class="nav-link" href="/default/posts" id="nav_2">Productos</a>
              <%} %>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/<%=userData[0][0].n_control%>/comments" id="nav_3">Comentarios</a>
            </li>
          </ul>
          </div>
          <!-- La siguiente vista es provisional solo para no tener que loggearse cada momento | Ya no deberia de poder cargar-->
        <% }else { %>
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="/00000000" id="nav_1">Informacion personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/00000000/posts" id="nav_2">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/00000000/comments" id="nav_3">Comentarios</a>
            </li>
          </ul>
          </div>
        <% }%>
      <div class="card-body d-flex flex-column align-content-center" id="profileCardBody">
        <!-- Aquí se carga la pantalla para la información del usuario -->
      <% if(activePage === 'nav_1'){ %> 
            <img src="/img2.jpg" class="img-thumbnail card-body--config align-self-center" alt="Imagen de prueba">
      <% if(userData){ %>
            <p class="card-text">
            <%= userData[0][0].username %>
            </p>
      <% }else{ %>
            <p>No hay un perfil cargado</p>
      <% } %>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      <!-- Aqui se cargan los posts del usuario en el propio perfil -->
      <% }else if(activePage === 'nav_2'){ %>
      <% if(postsData){ %>
        <% postsData.forEach( elem=> { %>
          <div class="card align-self-center my-2" style="width: 90%; max-width: 30rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body position-relative">
              <h5 class="card-title"><a href="/<%=elem.n_control_cliente%>/<%=elem.id_venta%>"><%= elem.titulo %></a></h5>
              <p class="card-text"> <%= elem.descripcion  %></p>
              <p class="card-text">$ <%= elem.precio %></p>
              <% if(userData){ %>
                <% if(userData.n_control === elem.n_control_cliente){ %>
                  <a  href="/delete/<%= elem.id_venta %>" class="btn btn-danger position-absolute btn_delete_post--pos">Eliminar</a>
                <% } %>
              <% } %>
            </div>
          </div>
        <% }) %>
      <% } %>
      <!-- Aqui se carga la sección de comentarios del propio perfil -->
      <% }else if(activePage === 'nav_3'){ %>
        <% if(postsData){ %>
            <%= userData[0][0].username %>
            <p>Comments</p>
        <% } %>
      <% } %>
      </div>
    </div>
  </div>
  <script src="bootstrap.bundle.js"></script>
  <!-- <script src="profile.scripts.js"></script> -->
</body>

</html>